<h1> The Top 10 youtube Playlist </h1>
<p> Insert Country, city or region to know what's trending </p>
<input type="text" id="insert_query">
<input type="submit" value="search Location" onclick="requestLocation()">
<input type="submit" value="Save Playlist" onclick="savePlaylist()">
<br>
<div id="result">
</div>


<%=@playlist%>
