<div class="row">
  <div class="col-md-6">
    <div class="col-md-offset-1">
      <h1>
        The Top 10 youtube Playlist
      </h1>
      <p>
        Insert Country, city or region to know what's trending
      </p>
      <input type="text" id="insert_query">
      <input type="submit" value="search Location" onclick="requestLocation()">
      <input type="submit" value="Save Playlist" onclick="savePlaylist()">
      <br>
      <div id="result">
      </div>
    </div>
  </div>
  <!-- Half window -->
  <div class="col-md-6">
    <div class="col-md-offset-1">
      <h1> Saved playlists </h1>
      <div id="saved_playlist">
        <%@playlist.each do |p|%>
          <p>
            <%=p.name%>
          </p>
          <br>
          <img src="<%=p.url%>">
        <%end%>
      </div>
    </div>
</div>
